<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hk.cock">

	<insert id="regist" parameterType="MemDto">
		INSERT INTO MEMBER VALUES(MEMBER_SEQ.NEXTVAL,#{m_name},#{m_id},#{m_pw},#{m_email},'일반',SYSDATE,'Y')
	</insert>
	
	<select id="login" parameterType="Map" resultType="MemDto">
		SELECT M_SEQ, M_NAME, M_ID, M_PW, M_EMAIL, M_ROLE, M_REGDATE, M_ENABLED FROM MEMBER WHERE M_ID=#{m_id} AND M_PW=#{m_pw} AND M_ENABLED='Y'
	</select>
	
	<select id="getuser" parameterType="Map" resultType="MemDto">
		SELECT M_SEQ, M_NAME, M_ID, M_EMAIL, M_REGDATE FROM MEMBER WHERE M_SEQ=#{m_seq}
	</select>
	
	<update id="updateuser" parameterType="Map">
		UPDATE MEMBER SET M_NAME=#{m_name}, M_PW= #{m_pw}, M_EMAIL=#{m_email} WHERE M_SEQ=#{m_seq}
	</update>
	
	<update id="deluser" parameterType="int">
		UPDATE MEMBER SET M_ENABLED='N' WHERE M_SEQ = #{m_seq}
	</update>
	
	<select id="idchk" parameterType="MemDto" resultType="MemDto">
		SELECT M_ID FROM MEMBER WHERE M_ID = #{m_id}
	</select>
	
	<select id="cocklist" resultType="CockDto">
		SELECT COCK_SEQ, COCK_NAME,INGRE_NAME AS BASE,COCKTAIL.BASE_AMT,INGRE_NAME AS LEQ,
		LEQ_AMT, INGRE_NAME AS DRINK, DRINK_AMT, INGRE_NAME AS SYRUP, SYRUP_AMT, INGRE_NAME AS ETC, ETC_AMT, COLOR, TASTE, INGRE_NAME AS ACHOL
		FROM COCKTAIL,INGRE WHERE INGRE.INGRE_SEQ=COCKTAIL.BASE
	</select>
	
	<select id="cockdetail" resultType="CockDto" parameterType="int">
		SELECT CC.COCK_SEQ, CC.COCK_NAME, CC.BASE, CC.BASE_AMT, CC.LEQ ,CC.LEQ_AMT,CC.DRINK, CC.DRINK_AMT , CC.SYRUP, CC.SYRUP_AMT,CC.ETC, CC.ETC_AMT, CC.COLOR, CC.TASTE, CC.ALCHOL,DD.LIKED , DD.EXPLAIN, DD.MAKE FROM
		(SELECT AAA.COCK_SEQ, AAA.COCK_NAME, AAA.BASE, AAA.BASE_AMT, AAA.LEQ ,AAA.LEQ_AMT, AAA.DRINK, AAA.DRINK_AMT , BBB.SYRUP, BBB.SYRUP_AMT, BBB.ETC, BBB.ETC_AMT, BBB.COLOR, BBB.TASTE, BBB.ALCHOL FROM
		(SELECT GUGU.COCK_SEQ, GUGU.COCK_NAME, GUGU.BASE,GUGU.BASE_AMT, GUGU.LEQ,GUGU.LEQ_AMT, GYGY.DRINK, GYGY.DRINK_AMT FROM (
		SELECT COCK_SEQ, COCK_NAME ,INGRE_NAME AS DRINK,DRINK_AMT FROM COCKTAIL,INGRE WHERE INGRE.INGRE_SEQ=COCKTAIL.DRINK AND COCK_SEQ = #{COCK_SEQ}) GYGY ,
		(SELECT GTGT.COCK_SEQ, GRGR.COCK_NAME, GTGT.BASE, GTGT.BASE_AMT, GRGR.LEQ, GRGR.LEQ_AMT FROM
		(SELECT COCK_SEQ, COCK_NAME,INGRE_NAME AS BASE,BASE_AMT FROM COCKTAIL,INGRE WHERE INGRE.INGRE_SEQ=COCKTAIL.BASE ) GTGT ,
		(SELECT COCK_SEQ, COCK_NAME ,INGRE_NAME AS LEQ ,LEQ_AMT FROM COCKTAIL,INGRE WHERE INGRE.INGRE_SEQ=COCKTAIL.LEQ ) GRGR
		WHERE GRGR.COCK_SEQ=GTGT.COCK_SEQ) GUGU
		WHERE GUGU.COCK_SEQ=GYGY.COCK_SEQ) AAA,
		(SELECT G.COCK_SEQ, G.COCK_NAME , G.SYRUP, G.SYRUP_AMT, G.ETC, G.ETC_AMT, G.COLOR, G.TASTE, H.ALCHOL FROM
		(SELECT E.COCK_SEQ, E.COCK_NAME , E.SYRUP, E.SYRUP_AMT, E.ETC, E.ETC_AMT, E.COLOR, F.TASTE FROM
		(SELECT C.COCK_SEQ, C.COCK_NAME , C.SYRUP, C.SYRUP_AMT, C.ETC, C.ETC_AMT, D.COLOR FROM
		(SELECT A.COCK_SEQ, A.COCK_NAME ,A.SYRUP, A.SYRUP_AMT, B.ETC, B.ETC_AMT FROM
		(SELECT COCK_SEQ, COCK_NAME ,INGRE_NAME AS SYRUP, SYRUP_AMT FROM COCKTAIL,INGRE WHERE INGRE.INGRE_SEQ=COCKTAIL.SYRUP) A,
		(SELECT COCK_SEQ, COCK_NAME ,INGRE_NAME AS ETC, ETC_AMT FROM COCKTAIL,INGRE WHERE INGRE.INGRE_SEQ=COCKTAIL.ETC) B
		WHERE A.COCK_SEQ=B.COCK_SEQ)C,
		(SELECT COCK_SEQ, COCK_NAME ,INGRE_NAME AS COLOR FROM COCKTAIL,INGRE WHERE INGRE.INGRE_SEQ=COCKTAIL.COLOR)D
		WHERE C.COCK_SEQ = D.COCK_SEQ)E,
		(SELECT COCK_SEQ, COCK_NAME ,INGRE_NAME AS TASTE FROM COCKTAIL,INGRE WHERE INGRE.INGRE_SEQ=COCKTAIL.TASTE)F
		WHERE E.COCK_SEQ=F.COCK_SEQ)G,
		(SELECT COCK_SEQ, COCK_NAME ,INGRE_NAME AS ALCHOL FROM COCKTAIL,INGRE WHERE INGRE.INGRE_SEQ=COCKTAIL.ALCHOL)H
		WHERE G.COCK_SEQ = H.COCK_SEQ) BBB
		WHERE AAA.COCK_SEQ= BBB.COCK_SEQ)CC,
		(SELECT COCK_SEQ , COCK_NAME, LIKED, EXPLAIN, MAKE FROM COCKTAIL) DD
		WHERE CC.COCK_SEQ = DD.COCK_SEQ
	</select>
	
	<update id="liked" parameterType="int">
		UPDATE COCKTAIL SET LIKED=LIKED+1 WHERE COCK_SEQ=#{cock_seq}
	</update>

	<select id="cocktop" resultType="CockDto">
		SELECT COCK_SEQ, COCK_NAME FROM (SELECT COCK_SEQ, COCK_NAME FROM COCKTAIL ORDER BY LIKED DESC) WHERE ROWNUM <![CDATA[<]]> 11
	</select>
	
	<select id="cockbase" resultType="IngreDto">
		 SELECT INGRE_SEQ,INGRE_NAME FROM INGRE JOIN (SELECT BASE FROM COCKTAIL GROUP BY BASE) ON BASE = INGRE_SEQ
	</select>
	
	<select id="cockleq" resultType="IngreDto">
		 SELECT INGRE_SEQ,INGRE_NAME FROM INGRE JOIN (SELECT LEQ FROM COCKTAIL GROUP BY LEQ) ON LEQ = INGRE_SEQ
	</select>
	
	<select id="cockdrink" resultType="IngreDto">
		 SELECT INGRE_SEQ,INGRE_NAME FROM INGRE JOIN (SELECT DRINK FROM COCKTAIL GROUP BY DRINK) ON DRINK = INGRE_SEQ
	</select>
	
	<select id="cocksyrup" resultType="IngreDto">
		 SELECT INGRE_SEQ,INGRE_NAME FROM INGRE JOIN (SELECT SYRUP FROM COCKTAIL GROUP BY SYRUP) ON SYRUP = INGRE_SEQ
	</select>
	
	<select id="cockcolor" resultType="IngreDto">
		SELECT INGRE_SEQ,INGRE_NAME FROM INGRE JOIN (SELECT COLOR FROM COCKTAIL GROUP BY COLOR) ON COLOR = INGRE_SEQ
	</select>
	
	<select id="cocktaste" resultType="IngreDto">
		SELECT INGRE_SEQ,INGRE_NAME FROM INGRE JOIN (SELECT TASTE FROM COCKTAIL GROUP BY TASTE) ON TASTE = INGRE_SEQ
	</select>
	
	<select id="cockalchol" resultType="IngreDto">
		SELECT INGRE_SEQ,INGRE_NAME FROM INGRE JOIN (SELECT ALCHOL FROM COCKTAIL GROUP BY ALCHOL) ON ALCHOL = INGRE_SEQ
	</select>
	
	<select id="cocketc" resultType="IngreDto">
		SELECT INGRE_SEQ,INGRE_NAME FROM INGRE JOIN (SELECT ETC FROM COCKTAIL GROUP BY ETC) ON ETC = INGRE_SEQ
	</select>
	
	<select id="searchingre" resultType="CockDto" parameterType="CockDto">
		 select distinct * from
        ( SELECT CC.COCK_SEQ, CC.COCK_NAME, CC.BASE, CC.BASE_AMT, CC.LEQ ,CC.LEQ_AMT,CC.DRINK, CC.DRINK_AMT , CC.SYRUP, CC.SYRUP_AMT,CC.ETC, CC.ETC_AMT, CC.COLOR, CC.TASTE, CC.ALCHOL,DD.LIKED , DD.EXPLAIN, DD.MAKE FROM
		(SELECT AAA.COCK_SEQ, AAA.COCK_NAME, AAA.BASE, AAA.BASE_AMT, AAA.LEQ ,AAA.LEQ_AMT, AAA.DRINK, AAA.DRINK_AMT , BBB.SYRUP, BBB.SYRUP_AMT, BBB.ETC, BBB.ETC_AMT, BBB.COLOR, BBB.TASTE, BBB.ALCHOL FROM
		(SELECT GUGU.COCK_SEQ, GUGU.COCK_NAME, GUGU.BASE,GUGU.BASE_AMT, GUGU.LEQ,GUGU.LEQ_AMT, GYGY.DRINK, GYGY.DRINK_AMT FROM (
		SELECT COCK_SEQ, COCK_NAME ,INGRE_NAME AS DRINK,DRINK_AMT FROM COCKTAIL,INGRE WHERE INGRE.INGRE_SEQ=COCKTAIL.DRINK) GYGY ,
		(SELECT GTGT.COCK_SEQ, GRGR.COCK_NAME, GTGT.BASE, GTGT.BASE_AMT, GRGR.LEQ, GRGR.LEQ_AMT FROM
		(SELECT COCK_SEQ, COCK_NAME,INGRE_NAME AS BASE,BASE_AMT FROM COCKTAIL,INGRE WHERE INGRE.INGRE_SEQ=COCKTAIL.BASE ) GTGT ,
		(SELECT COCK_SEQ, COCK_NAME ,INGRE_NAME AS LEQ ,LEQ_AMT FROM COCKTAIL,INGRE WHERE INGRE.INGRE_SEQ=COCKTAIL.LEQ ) GRGR
		WHERE GRGR.COCK_SEQ=GTGT.COCK_SEQ) GUGU
		WHERE GUGU.COCK_SEQ=GYGY.COCK_SEQ) AAA,
		(SELECT G.COCK_SEQ, G.COCK_NAME , G.SYRUP, G.SYRUP_AMT, G.ETC, G.ETC_AMT, G.COLOR, G.TASTE, H.ALCHOL FROM
		(SELECT E.COCK_SEQ, E.COCK_NAME , E.SYRUP, E.SYRUP_AMT, E.ETC, E.ETC_AMT, E.COLOR, F.TASTE FROM
		(SELECT C.COCK_SEQ, C.COCK_NAME , C.SYRUP, C.SYRUP_AMT, C.ETC, C.ETC_AMT, D.COLOR FROM
		(SELECT A.COCK_SEQ, A.COCK_NAME ,A.SYRUP, A.SYRUP_AMT, B.ETC, B.ETC_AMT FROM
		(SELECT COCK_SEQ, COCK_NAME ,INGRE_NAME AS SYRUP, SYRUP_AMT FROM COCKTAIL,INGRE WHERE INGRE.INGRE_SEQ=COCKTAIL.SYRUP) A,
		(SELECT COCK_SEQ, COCK_NAME ,INGRE_NAME AS ETC, ETC_AMT FROM COCKTAIL,INGRE WHERE INGRE.INGRE_SEQ=COCKTAIL.ETC) B
		WHERE A.COCK_SEQ=B.COCK_SEQ)C,
		(SELECT COCK_SEQ, COCK_NAME ,INGRE_NAME AS COLOR FROM COCKTAIL,INGRE WHERE INGRE.INGRE_SEQ=COCKTAIL.COLOR)D
		WHERE C.COCK_SEQ = D.COCK_SEQ)E,
		(SELECT COCK_SEQ, COCK_NAME ,INGRE_NAME AS TASTE FROM COCKTAIL,INGRE WHERE INGRE.INGRE_SEQ=COCKTAIL.TASTE)F
		WHERE E.COCK_SEQ=F.COCK_SEQ)G,
		(SELECT COCK_SEQ, COCK_NAME ,INGRE_NAME AS ALCHOL FROM COCKTAIL,INGRE WHERE INGRE.INGRE_SEQ=COCKTAIL.ALCHOL)H
		WHERE G.COCK_SEQ = H.COCK_SEQ) BBB
		WHERE AAA.COCK_SEQ= BBB.COCK_SEQ)CC,
		(SELECT COCK_SEQ , COCK_NAME, LIKED, EXPLAIN, MAKE FROM COCKTAIL) DD
		WHERE CC.COCK_SEQ = DD.COCK_SEQ ) WHERE BASE=#{base} OR LEQ = #{leq} OR DRINK=#{drink} OR SYRUP=#{syrup}
	</select>
	
	<select id="searchbase" resultType="cockDto" parameterType="String">
	  SELECT CC.COCK_SEQ, CC.COCK_NAME, CC.BASE, CC.BASE_AMT, CC.LEQ ,CC.LEQ_AMT,CC.DRINK, CC.DRINK_AMT , CC.SYRUP, CC.SYRUP_AMT,CC.ETC, CC.ETC_AMT, CC.COLOR, CC.TASTE, CC.ALCHOL,DD.LIKED , DD.EXPLAIN, DD.MAKE FROM
		(SELECT AAA.COCK_SEQ, AAA.COCK_NAME, AAA.BASE, AAA.BASE_AMT, AAA.LEQ ,AAA.LEQ_AMT, AAA.DRINK, AAA.DRINK_AMT , BBB.SYRUP, BBB.SYRUP_AMT, BBB.ETC, BBB.ETC_AMT, BBB.COLOR, BBB.TASTE, BBB.ALCHOL FROM
		(SELECT GUGU.COCK_SEQ, GUGU.COCK_NAME, GUGU.BASE,GUGU.BASE_AMT, GUGU.LEQ,GUGU.LEQ_AMT, GYGY.DRINK, GYGY.DRINK_AMT FROM (
		SELECT COCK_SEQ, COCK_NAME ,INGRE_NAME AS DRINK,DRINK_AMT FROM COCKTAIL,INGRE WHERE INGRE.INGRE_SEQ=COCKTAIL.DRINK) GYGY ,
		(SELECT GTGT.COCK_SEQ, GRGR.COCK_NAME, GTGT.BASE, GTGT.BASE_AMT, GRGR.LEQ, GRGR.LEQ_AMT FROM
		(SELECT COCK_SEQ, COCK_NAME,INGRE_NAME AS BASE,BASE_AMT FROM COCKTAIL,INGRE WHERE INGRE.INGRE_SEQ=COCKTAIL.BASE ) GTGT ,
		(SELECT COCK_SEQ, COCK_NAME ,INGRE_NAME AS LEQ ,LEQ_AMT FROM COCKTAIL,INGRE WHERE INGRE.INGRE_SEQ=COCKTAIL.LEQ ) GRGR
		WHERE GRGR.COCK_SEQ=GTGT.COCK_SEQ) GUGU
		WHERE GUGU.COCK_SEQ=GYGY.COCK_SEQ) AAA,
		(SELECT G.COCK_SEQ, G.COCK_NAME , G.SYRUP, G.SYRUP_AMT, G.ETC, G.ETC_AMT, G.COLOR, G.TASTE, H.ALCHOL FROM
		(SELECT E.COCK_SEQ, E.COCK_NAME , E.SYRUP, E.SYRUP_AMT, E.ETC, E.ETC_AMT, E.COLOR, F.TASTE FROM
		(SELECT C.COCK_SEQ, C.COCK_NAME , C.SYRUP, C.SYRUP_AMT, C.ETC, C.ETC_AMT, D.COLOR FROM
		(SELECT A.COCK_SEQ, A.COCK_NAME ,A.SYRUP, A.SYRUP_AMT, B.ETC, B.ETC_AMT FROM
		(SELECT COCK_SEQ, COCK_NAME ,INGRE_NAME AS SYRUP, SYRUP_AMT FROM COCKTAIL,INGRE WHERE INGRE.INGRE_SEQ=COCKTAIL.SYRUP) A,
		(SELECT COCK_SEQ, COCK_NAME ,INGRE_NAME AS ETC, ETC_AMT FROM COCKTAIL,INGRE WHERE INGRE.INGRE_SEQ=COCKTAIL.ETC) B
		WHERE A.COCK_SEQ=B.COCK_SEQ)C,
		(SELECT COCK_SEQ, COCK_NAME ,INGRE_NAME AS COLOR FROM COCKTAIL,INGRE WHERE INGRE.INGRE_SEQ=COCKTAIL.COLOR)D
		WHERE C.COCK_SEQ = D.COCK_SEQ)E,
		(SELECT COCK_SEQ, COCK_NAME ,INGRE_NAME AS TASTE FROM COCKTAIL,INGRE WHERE INGRE.INGRE_SEQ=COCKTAIL.TASTE)F
		WHERE E.COCK_SEQ=F.COCK_SEQ)G,
		(SELECT COCK_SEQ, COCK_NAME ,INGRE_NAME AS ALCHOL FROM COCKTAIL,INGRE WHERE INGRE.INGRE_SEQ=COCKTAIL.ALCHOL)H
		WHERE G.COCK_SEQ = H.COCK_SEQ) BBB
		WHERE AAA.COCK_SEQ= BBB.COCK_SEQ)CC,
		(SELECT COCK_SEQ , COCK_NAME, LIKED, EXPLAIN, MAKE FROM COCKTAIL) DD
		WHERE CC.COCK_SEQ = DD.COCK_SEQ AND CC.BASE=#{base}
	</select>
	
	<select id="searchcham" resultType="cockDto" parameterType="String">
	    select distinct * from
        ( SELECT CC.COCK_SEQ, CC.COCK_NAME, CC.BASE, CC.BASE_AMT, CC.LEQ ,CC.LEQ_AMT,CC.DRINK, CC.DRINK_AMT , CC.SYRUP, CC.SYRUP_AMT,CC.ETC, CC.ETC_AMT, CC.COLOR, CC.TASTE, CC.ALCHOL,DD.LIKED , DD.EXPLAIN, DD.MAKE FROM
		(SELECT AAA.COCK_SEQ, AAA.COCK_NAME, AAA.BASE, AAA.BASE_AMT, AAA.LEQ ,AAA.LEQ_AMT, AAA.DRINK, AAA.DRINK_AMT , BBB.SYRUP, BBB.SYRUP_AMT, BBB.ETC, BBB.ETC_AMT, BBB.COLOR, BBB.TASTE, BBB.ALCHOL FROM
		(SELECT GUGU.COCK_SEQ, GUGU.COCK_NAME, GUGU.BASE,GUGU.BASE_AMT, GUGU.LEQ,GUGU.LEQ_AMT, GYGY.DRINK, GYGY.DRINK_AMT FROM (
		SELECT COCK_SEQ, COCK_NAME ,INGRE_NAME AS DRINK,DRINK_AMT FROM COCKTAIL,INGRE WHERE INGRE.INGRE_SEQ=COCKTAIL.DRINK) GYGY ,
		(SELECT GTGT.COCK_SEQ, GRGR.COCK_NAME, GTGT.BASE, GTGT.BASE_AMT, GRGR.LEQ, GRGR.LEQ_AMT FROM
		(SELECT COCK_SEQ, COCK_NAME,INGRE_NAME AS BASE,BASE_AMT FROM COCKTAIL,INGRE WHERE INGRE.INGRE_SEQ=COCKTAIL.BASE ) GTGT ,
		(SELECT COCK_SEQ, COCK_NAME ,INGRE_NAME AS LEQ ,LEQ_AMT FROM COCKTAIL,INGRE WHERE INGRE.INGRE_SEQ=COCKTAIL.LEQ ) GRGR
		WHERE GRGR.COCK_SEQ=GTGT.COCK_SEQ) GUGU
		WHERE GUGU.COCK_SEQ=GYGY.COCK_SEQ) AAA,
		(SELECT G.COCK_SEQ, G.COCK_NAME , G.SYRUP, G.SYRUP_AMT, G.ETC, G.ETC_AMT, G.COLOR, G.TASTE, H.ALCHOL FROM
		(SELECT E.COCK_SEQ, E.COCK_NAME , E.SYRUP, E.SYRUP_AMT, E.ETC, E.ETC_AMT, E.COLOR, F.TASTE FROM
		(SELECT C.COCK_SEQ, C.COCK_NAME , C.SYRUP, C.SYRUP_AMT, C.ETC, C.ETC_AMT, D.COLOR FROM
		(SELECT A.COCK_SEQ, A.COCK_NAME ,A.SYRUP, A.SYRUP_AMT, B.ETC, B.ETC_AMT FROM
		(SELECT COCK_SEQ, COCK_NAME ,INGRE_NAME AS SYRUP, SYRUP_AMT FROM COCKTAIL,INGRE WHERE INGRE.INGRE_SEQ=COCKTAIL.SYRUP) A,
		(SELECT COCK_SEQ, COCK_NAME ,INGRE_NAME AS ETC, ETC_AMT FROM COCKTAIL,INGRE WHERE INGRE.INGRE_SEQ=COCKTAIL.ETC) B
		WHERE A.COCK_SEQ=B.COCK_SEQ)C,
		(SELECT COCK_SEQ, COCK_NAME ,INGRE_NAME AS COLOR FROM COCKTAIL,INGRE WHERE INGRE.INGRE_SEQ=COCKTAIL.COLOR)D
		WHERE C.COCK_SEQ = D.COCK_SEQ)E,
		(SELECT COCK_SEQ, COCK_NAME ,INGRE_NAME AS TASTE FROM COCKTAIL,INGRE WHERE INGRE.INGRE_SEQ=COCKTAIL.TASTE)F
		WHERE E.COCK_SEQ=F.COCK_SEQ)G,
		(SELECT COCK_SEQ, COCK_NAME ,INGRE_NAME AS ALCHOL FROM COCKTAIL,INGRE WHERE INGRE.INGRE_SEQ=COCKTAIL.ALCHOL)H
		WHERE G.COCK_SEQ = H.COCK_SEQ) BBB
		WHERE AAA.COCK_SEQ= BBB.COCK_SEQ)CC,
		(SELECT COCK_SEQ , COCK_NAME, LIKED, EXPLAIN, MAKE FROM COCKTAIL) DD
		WHERE CC.COCK_SEQ = DD.COCK_SEQ ) WHERE BASE=#{base} OR COLOR = #{color} OR TASTE=#{taste} OR ALCHOL=#{alchol}
	</select>
	
	<insert id="insertcock" parameterType="CockDto"> 
		INSERT INTO COCKTAIL VALUES(COCKTAIL_SEQ.NEXTVAL,#{cock_name},#{base},#{base_amt},#{leq},#{leq_amt},#{drink},#{drink_amt},#{syrup},#{syrup_amt},#{etc},#{etc_amt},#{color},#{taste},#{alchol},0,#{explain},#{make})
	</insert>
	
	<delete id="delcock">
		DELETE COCKTAIL WHERE COCK_SEQ = #{cock_seq}
	</delete>
	
	<update id="updatecock" parameterType="CockDto">
		UPDATE COCKTAIL SET BASE=#{base},BASE_AMT=#{base_amt},LEQ=#{leq},LEQ_AMT=#{leq_amt},DRINK=#{drink},
		DRINK_AMT=#{drink_amt},SYRUP=#{syrup},SYRUP_AMT=#{syrup_amt},ETC=#{etc},ETC_AMT=#{etc_amt},COLOR=#{color},TASTE=#{taste},ALCHOL=#{alchol},EXPLAIN=#{explain},MAKE=#{make} WHERE COCK_SEQ=#{cock_seq}
	</update>
	
	<select id="replyboard" resultType="ReplyDto" parameterType="int">
		SELECT REP_SEQ, REP_CONTENT, REP_ID, REP_REGDATE, REP_COCK_SEQ FROM REPLY WHERE REP_COCK_SEQ = #{cock_seq} ORDER BY REP_SEQ DESC
	</select>
	
	<insert id="insertreply" parameterType="ReplyDto">
		INSERT INTO REPLY VALUES(REPLY_SEQ.NEXTVAL, #{rep_content},#{rep_id}, SYSDATE, #{rep_cock_seq})
	</insert>
	
	<delete id="delreply" parameterType="int">
		DELETE REPLY WHERE REP_SEQ = #{rep_seq}
	</delete>
	
	<select id="userlist" resultType="MemDto">
		SELECT M_SEQ, M_NAME, M_ID, M_PW, M_EMAIL, M_ROLE, M_REGDATE, M_ENABLED FROM MEMBER
	</select>
	
	<update id="userstatus" parameterType="MemDto">
		UPDATE MEMBER SET M_ROLE=#{m_role}, M_ENABLED=#{m_enabled} WHERE M_SEQ=#{m_seq}
	</update>
</mapper>
